In [0]:
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
np.random.seed(0)

In [9]:
iris=load_iris()
dt= pd.DataFrame(iris.data,columns=iris.feature_names)
dt.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [54]:
dt['species']=pd.Categorical.from_codes(iris.target,iris.target_names)
dt
dt['is_trained'] = np.random.uniform(0,1 , len(dt)) <= 0.75
print(dt)

     sepal length (cm)  sepal width (cm)  ...    species  is_trained
0                  5.1               3.5  ...     setosa       False
1                  4.9               3.0  ...     setosa        True
2                  4.7               3.2  ...     setosa        True
3                  4.6               3.1  ...     setosa       False
4                  5.0               3.6  ...     setosa        True
..                 ...               ...  ...        ...         ...
145                6.7               3.0  ...  virginica        True
146                6.3               2.5  ...  virginica        True
147                6.5               3.0  ...  virginica        True
148                6.2               3.4  ...  virginica       False
149                5.9               3.0  ...  virginica        True

[150 rows x 6 columns]

In [0]:
train,test = dt[dt['is_trained']==True],dt[dt['is_trained']==False]

In [71]:
y = pd.factorize(train['species'])[0]
#print(y)
#print(train['species'])
features = dt.columns[:4]
print(features)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [72]:
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier(n_jobs= 2 , random_state=0)
clf.fit(train[features],y)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [73]:
clf.predict(test[features])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2])

In [74]:
print(test)

     sepal length (cm)  sepal width (cm)  ...     species  is_trained
0                  5.1               3.5  ...      setosa       False
3                  4.6               3.1  ...      setosa       False
8                  4.4               2.9  ...      setosa       False
17                 5.1               3.5  ...      setosa       False
20                 5.4               3.4  ...      setosa       False
22                 4.6               3.6  ...      setosa       False
23                 5.1               3.3  ...      setosa       False
24                 4.8               3.4  ...      setosa       False
26                 5.0               3.4  ...      setosa       False
27                 5.2               3.5  ...      setosa       False
36                 5.5               3.5  ...      setosa       False
37                 4.9               3.6  ...      setosa       False
41                 4.5               2.3  ...      setosa       False
52                 6.9               3.1  ...  versicolor       False
54                 6.5               2.8  ...  versicolor       False
55                 5.7               2.8  ...  versicolor       False
68                 6.2               2.2  ...  versicolor       False
76                 6.8               2.8  ...  versicolor       False
88                 5.6               3.0  ...  versicolor       False
93                 5.0               2.3  ...  versicolor       False
96                 5.7               2.9  ...  versicolor       False
99                 5.7               2.8  ...  versicolor       False
108                6.7               2.5  ...   virginica       False
111                6.4               2.7  ...   virginica       False
112                6.8               3.0  ...   virginica       False
114                5.8               2.8  ...   virginica       False
116                6.5               3.0  ...   virginica       False
117                7.7               3.8  ...   virginica       False
118                7.7               2.6  ...   virginica       False
119                6.0               2.2  ...   virginica       False
123                6.3               2.7  ...   virginica       False
126                6.2               2.8  ...   virginica       False
128                6.4               2.8  ...   virginica       False
138                6.0               3.0  ...   virginica       False
140                6.7               3.1  ...   virginica       False
144                6.7               3.3  ...   virginica       False
148                6.2               3.4  ...   virginica       False

[37 rows x 6 columns]